body{
		padding: 0; margin: 0; 
		background:#F8F8F8;
	}	


	.contents, .contents1, .contents2{
		
		/*-moz-column-width: 200px;
		 -webkit-column-width: 200px;
		 -moz-column-gap: 10px;
		 -webkit-column-gap: 10px; 
		column-width: 200px;
		column-gap: 10px;*/
		padding:10px;

	}


	 ul.contents li {
	 
    max-height: 300px;
	width:100%;
  display: inline-block;

	overflow: hidden;
	//margin: 0 1px 10px 1px;
	
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
	
	//background-color: #FFF;
	//border-radius: 4px;
	border: 1px solid rgba(173,177,200, 0.8);
	box-shadow: 0px 1px 2px #888888;
	}


